body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin: 0;
    padding: 0;
    background-image: url('https://i.blogs.es/410bab/danielle-cerullo-cqfnt66ttzm-unsplash/1366_2000.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  ul { margin: 10px; }
  p{ 
      margin: 20px 0;
   }
  header {
    background-color: #000;
    text-align: center;
    padding:30px;
  }
  img {
    border-radius: 10%;
    width: 50%;
    height: auto;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  a{
    color: #007bff; text-decoration: none;
  }
  h1,
  h2 {
    color: #61a0e2;
    text-align: center;
  }
  li {
    margin-bottom: 10px;
    margin: 5px 0; 
  }
  .container {
    width: 70%; 
    margin: 0 auto; 
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  .btn-group {
    display: flex;
  }
  
  .btn {
    background-color: transparent;
    border: 1px solid #28a745;
    color: #28a745;
    padding: 8px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
  }
  
  .btn a {
    color: inherit;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #28a745;
    color: white;
  }
    footer{
      background-color: black;
      color: white;
      text-align: center;
      padding: 10px 0;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
    }